<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<body ng-app="myApp">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="index.html">Welcome</a>

  </nav>
<a href="#!ent" style="margin-left:25%;padding:2%;">Entertainment News</a>
<a href="#!headlines" style="padding:2%;">Top Headlines</a>
<a href="#!technology" style="padding:2%;">Technology News</a>
<a href="#!business" style="padding:2%;">Business News</a>
<div ng-view></div>
<script>
var app=angular.module("myApp",["ngRoute"]);
app.config(function($routeProvider){
$routeProvider

    .when("/ent", {
        template :
        "<h1 style='margin-left:40%;'>Entertainment News</h1>"+

        "<ul>"+
        "<li ng-repeat='x in ent'>"+
        "<b>{{x.title}}</b><br>"+
        "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
        "<b>Description</b>:<i> {{x.description}}</i></br>"+
        "<b>Content</b>: <i>{{x.content}}</i></br>"+
        "<a href={{x.url}}>Click here to read in detail.</a><br>"+
        "</li>"+
        "</ul>"+

        "</div>",
        controller : "entertainment"
    })
    .when("/headlines", {
          template :
          "<h1 style='margin-left:40%;'>Top Headlines</h1>"+

          "<ul>"+
          "<li ng-repeat='x in headline'>"+
          "<b>{{x.title}}</b><br>"+
          "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
          "<b>Description</b>:<i> {{x.description}}</i></br>"+
          "<b>Content</b>: <i>{{x.content}}</i></br>"+
          "<a href={{x.url}}>Click here to read in detail.</a><br>"+
          "</li>"+
          "</ul>"+

          "</div>",
        controller : "headlines"
    })
    .when("/technology", {
          template :
          "<h1 style='margin-left:40%;'>Technology News</h1>"+

          "<ul>"+
          "<li ng-repeat='x in technologyData'>"+
          "<b>{{x.title}}</b><br>"+
          "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
          "<b>Description</b>:<i> {{x.description}}</i></br>"+
          "<b>Content</b>: <i>{{x.content}}</i></br>"+
          "<a href={{x.url}}>Click here to read in detail.</a><br>"+
          "</li>"+
          "</ul>"+

          "</div>",
        controller : "technology"
})
.when("/business", {
      template :
      "<h1 style='margin-left:40%;'>Business News</h1>"+

      "<ul>"+
      "<li ng-repeat='x in businessData'>"+
      "<b>{{x.title}}</b><br>"+
      "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
      "<b>Description</b>:<i> {{x.description}}</i></br>"+
      "<b>Content</b>: <i>{{x.content}}</i></br>"+
      "<a href={{x.url}}>Click here to read in detail.</a><br>"+
      "</li>"+
      "</ul>"+

      "</div>",
    controller : "business"
});
});
app.controller("headlines",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.headline=response.data.articles;
});
});
app.controller("entertainment",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&category=entertainment&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.ent=response.data.articles;
});
});
app.controller("technology",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&category=technology&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.technologyData=response.data.articles;
});
});
app.controller("business",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.businessData=response.data.articles;
});
});
//https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=a7e0146a2bdb4751bc83a40592de3f83
</script>
</body>
</html>
