<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link rel="stylesheet" type="text/css" href="news.css">
<body ng-app="myApp">

<div class="header">
<a class="menu" href="index.html">Home</a>
<a  class="menu" href="#!ent">Entertainment News</a>
<a class="menu" href="#!">Top Headlines</a>
<a href="#!technology" class="menu">Technology News</a>
<a href="#!business" class="menu">Business News</a>
<a href="#!sports" class="menu">Sports News</a>
<div class="progress-container">
<div class="progress-bar" id="myBar"></div>
</div>
</div>

<div ng-view></div>
<script>
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
var app=angular.module("myApp",["ngRoute"]);
app.config(function($routeProvider){
$routeProvider

    .when("/ent", {
        template :
        "<h1 class='NewsTitle'>Entertainment News</h1>"+

        "<ul>"+
        "<li ng-repeat='x in ent'>"+
        "<b style='background:black;color:white'>{{x.title}}</b><br>"+
        "<a href='{{x.urlToImage}}' download>See image related to this news.</a></br>"+
        "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
        "<b>Description</b>:<i> {{x.description}}</i></br>"+
        "<b>Content</b>: <i>{{x.content}}</i></br>"+
        "<a target='_blank' href={{x.url}}>Click here to read in detail.</a><br>"+
        "</li>"+
        "</ul>"+

        "</div>",
        controller : "entertainment"
    })
    .when("/", {
          template :
          "<h1 class='NewsTitle'>Top Headlines</h1>"+

          "<ul>"+
          "<li ng-repeat='x in headline'>"+
          "<b style='background:black;color:white'>{{x.title}}</b><br>"+
"<a href='{{x.urlToImage}}' download>See image related to this news.</a></br>"+
          "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
          "<b>Description</b>:<i> {{x.description}}</i></br>"+
          "<b>Content</b>: <i>{{x.content}}</i></br>"+
          "<a target='_blank' href={{x.url}}>Click here to read in detail.</a><br>"+
          "</li>"+
          "</ul>"+

          "</div>",
        controller : "headlines"
    })
    .when("/technology", {
          template :
          "<h1 class='NewsTitle'>Technology News</h1>"+

          "<ul>"+
          "<li ng-repeat='x in technologyData'>"+
          "<b style='background:black;color:white'>{{x.title}}</b><br>"+
          "<a href='{{x.urlToImage}}' download>See image related to this news.</a></br>"+
          "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
          "<b>Description</b>:<i> {{x.description}}</i></br>"+
          "<b>Content</b>: <i>{{x.content}}</i></br>"+
          "<a target='_blank' href={{x.url}}>Click here to read in detail.</a><br>"+
          "</li>"+
          "</ul>"+

          "</div>",
        controller : "technology"
})
.when("/business", {
      template :
      "<h1 class='NewsTitle'>Business News</h1>"+

      "<ul>"+
      "<li ng-repeat='x in businessData'>"+
      "<b style='background:black;color:white'>{{x.title}}</b><br>"+
      "<a href='{{x.urlToImage}}' download>See image related to this news.</a></br>"+
      "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
      "<b>Description</b>:<i> {{x.description}}</i></br>"+
      "<b>Content</b>: <i>{{x.content}}</i></br>"+
      "<a target='_blank' href={{x.url}}>Click here to read in detail.</a><br>"+
      "</li>"+
      "</ul>"+

      "</div>",
    controller : "business"
})

.when("/sports", {
      template :
      "<h1 class='NewsTitle'>Sports News</h1>"+

      "<ul>"+
      "<li ng-repeat='x in sportsdata'>"+
      "<b style='background:black;color:white'>{{x.title}}</b><br>"+
      "<a href='{{x.urlToImage}}' download>See image related to this news.</a></br>"+
      "<b>Published At</b>: <i>{{x.publishedAt}}</i></br>"+
      "<b>Description</b>:<i> {{x.description}}</i></br>"+
        "<b>Content</b>: <i>{{x.content}}</i></br>"+
      "<a target='_blank' href={{x.url}}>Click here to read in detail.</a><br>"+
      "</li>"+
      "</ul>"+

      "</div>",
    controller : "sports"
});

});
app.controller("headlines",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.headline=response.data.articles;
});
});
app.controller("entertainment",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&category=entertainment&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.ent=response.data.articles;
});
});
app.controller("technology",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&category=technology&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.technologyData=response.data.articles;
});
});
app.controller("business",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.businessData=response.data.articles;
});
});

app.controller("sports",function($scope,$http){
$http.get("https://newsapi.org/v2/top-headlines?country=in&category=sports&apiKey=a7e0146a2bdb4751bc83a40592de3f83").then(
function(response){
$scope.sportsdata=response.data.articles;
});
});
//https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=a7e0146a2bdb4751bc83a40592de3f83
</script>
</body>
</html>
